.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  height: 84px;
  width: 100%;
  display: flex;
  align-items: center;
  // background-color: var(--button-background-color);
  border-bottom: 1.5px solid rgba(1, 0, 1, 0.05);
}
