@import url(./normalize.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  outline: 0 !important;
}

body,
html {
  width: 100%;
  scroll-behavior: smooth;
  min-height: 100vh;
  min-width: 375px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  min-height: 100vh;
}

.container {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}

.exercise-wrapper {
  margin-bottom: 30px;
}

.exercise-title {
  margin-bottom: 20px;
}
.sentence-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.sentence-item.eng {
  color: purple;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: rgb(240, 240, 240);
}

.page-body {
  margin-top: 200px;
  padding: 20px 0;
}

.footer {
  height: 300px;
  background-color: rgb(241, 241, 241);
}

.exerecise-card {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 1px solid rgb(229, 232, 235);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: rgb(4 17 29 / 15%) 0px 0px 4px 0px;
    transition: all 0.3s ease 0s;
    color: #aaa;
  }
}

.exerecises-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, auto);
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, auto);
  }
}

.button {
  background-color: #febe46;
  outline: none;
  border: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}

.textarea {
  width: 100%;
  min-height: 100px;
  padding: 12px;
}
